.container{
    width: 500px;
    background-color: #ffff;
    border-radius: 4px;
    margin-top: 300px;
    padding: 30px 60px;
    box-sizing: border-box;
    box-shadow: 10px 10px 8px 10px #010101;
    position: relative;
}

.field{

    border: 1px solid #000000;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;


}

.btns{
    display: flex;
    column-gap: 40px;
    align-items: flex-start;


.button-repeate{
    background-color: #000000;
    color: #ffffff;
    border: none;
    text-decoration: none;
    padding: 10px 42px;
    outline: none;
    margin-top: 25px;
    margin-left: 70px;
    border-radius: 9px;
    font-size: 18px;
    cursor: pointer;
    
}

.button-done{
    background-color: #000000;
    color: #ffffff;
    border: none;
    text-decoration: none;
    padding: 10px 42px;
    outline: none;
    margin-top: 25px;
    margin-right: 70px;
    border-radius: 9px;
    font-size: 18px;
    cursor: pointer;
}
}