

body{
    display: none;
    font-family: monospace;
   background-color: #002244;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vhbtn;
    
    
}

