

body{
    display: none;
    font-family: monospace;
    background-image: url("question_bg.jpeg");
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vhbtn;
    
    
}

