.container{
    width: 500px;
    background-color: #ffff;
    border-radius: 4px;
    margin-top: 300px;
    padding: 30px 60px;
    box-sizing: border-box;
    box-shadow: 10px 10px 8px 10px #000000;
    position: relative;

}

.button-div{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.buttons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    border-radius: 6px;
    width: 40px;
    font-size: 18px;
    padding: 10px 38px;
    border: none;
    outline: none;
    cursor: pointer;

    &:disabled {
    background-color: #e7e8e9;
    color: #9c9c9c;
    cursor: not-allowed;
    
    }
}
.container h1{
    font-size: 32px;
    font-weight: 800;
    text-align: center;

   
}

